{% extends 'baseUserLogged.html' %}
{% load static %}


{% block content %}
    
<div class="container-fluid" style="position: absolute; margin-top: calc(100vh - 225px);">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end" style="text-align: center; margin-left: -2vw;">
      <div style="width: 300px;"> 
        <div style="color: #F2DCC2;">
          <p>Arquivar Tarefas Realizadas</p>
        </div>  
      
        <button href="archiveTask" class="elipseBtn">  
          <img style="height: 50px;" src="{% static 'images/ArchiveTask.png'%}"/>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <h1 class="tasks-title">TAREFAS A SEREM FEITAS<img src="{%static 'images/AddTask.png'%}" style="height: 30px; margin-top: -5px; margin-left: 10px;"/></h1>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <h1 class="tasks-title">TAREFAS PRONTAS<img src="{%static 'images/Checkmark.png'%}" style="height: 30px; margin-top: -5px; margin-left: 10px;"/></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <button class="pillBtn-light">Criar Tarefa</button>
    </div>

    <div class="col-md-6 d-flex align-content-start">
      <div class="divider"></div>
    </div>
  </div>

  <div class="row">
    <!-- Tarefas Iniciadas -->
    <div class="col-md-6">
      <div class="d-flex align-content-start">
        {% include 'task.html'%}
      </div>
    </div>

    <!-- Tarefas Prontas -->
    <div class="col-md-6 d-flex align-content-end">
      <div class="d-flex align-content-end" style="margin-left: 30px;">
        {% include 'task.html'%}
      </div>
    </div>
  </div>

</div>
</div>


{% endblock %}