{% extends 'baseUserLogged.html' %}
{% load static %}
<link href="{% static 'css/tasks.css' %}" rel="stylesheet">



{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <h1 class="tasks-title">TASKS TO BE MADE<img src="{% static 'images/AddTask.png' %}"
                                                                   style="height: 30px; margin-top: -5px; margin-left: 10px;"/>
                </h1>
            </div>

            <div class="col-md-6 d-flex justify-content-center">
                <h1 class="tasks-title">READY TASKS<img src="{% static 'images/Checkmark.png' %}"
                                                            style="height: 30px; margin-top: -5px; margin-left: 10px;"/>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <button type="button" id="newTaskModalButton" class="pillBtn-light" data-bs-toggle="modal"
                        data-bs-target="#newTaskModal">Create task
                </button>

                <div class="modal fade" tabindex="-1" data-bs-backdrop="static" id="newTaskModal"
                     aria-labelledby="newTaskModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="background-color: #40372F;">
                            <div class="modal-title p-4">
                                <h1 class="display-6" style="color: white;">Create task</h1>
                            </div>
                            <div class="modal-body">
                                <form class="col" style="margin: 0%;" method="POST">
                                    {% csrf_token %}
                                    <input class="form-control" type="hidden" placeholder="Action" name="action"
                                           value="create-task">

                                    <!-- Task Title -->
                                    <div class="row">
                                        <div class="form-group col" style="margin-left: 2%; padding-top: 2%;">
                                            <label class="taskTitle" for="titulo">Titulo:</label><br>
                                            <input class="form-control" type="text" placeholder="Titulo" name="titulo"
                                                   aria-describedby="tituloHelp" id="titulo">
                                        </div>
                                    </div>
                                    <!-- Task Body -->
                                    <div class="row">
                                        <div class="form-group col"
                                             style="margin-left: 2%; padding-top: 2%; padding-bottom: 2%;">
                                            <label class="taskTitle" for="corpo">Description:</label><br>
                                            <input class="form-control" type="text"
                                                   placeholder="A brief description of the task"
                                                   style="width: 96%; min-height: 10%;" name="corpo"
                                                   aria-describedby="corpoHelp" id="corpo">
                                        </div>
                                    </div>

                                    <!-- Submit -->
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-6"
                                             style="margin-left: 2%; padding-top: 2%; padding-bottom: 2%;">
                                            <button type="submit" class="pillBtn-light">Create task</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6 d-flex align-content-start">
                <div class="divider"></div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <!-- Tarefas Iniciadas -->
            <div class="col-md-6" style="overflow-y: auto; overflow-x: hidden; height: 65vh;">
            {% for task in UserTasks %}
                {% include 'listTasks.html' %}
            {% endfor %}
            </div>

            <!-- Tarefas Prontas -->
            <div class="col-md-6" style="overflow-y: auto; overflow-x: hidden; height: 65vh;">
            {% for task in DoneTasks %}
                {% include 'listTasks.html' %}
            {% endfor %}
            </div>
        </div>

        <!-- Arquivar tarefas -->
        <div class="row">
            <div class="col-md-12 d-flex justify-content-end">
                <div class="d-flex justify-content-end" style="margin-top: 25px;">
                    <div style="text-align: center;">
                        <div style="color: #F2DCC2;">
                            <p>Archive completed tasks</p>
                        </div>
                        <form style="margin: 0%;" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="archive_tasks" name="action">
                            <button type="submit" class="elipseBtn">
                                <img style="height: 50px;" src="{% static 'images/ArchiveTask.png' %}"/>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}