{% extends 'loginTemplate.html' %}

{% load static %}

{% block content %}

    <div class="row">
        <h1 class="col-12" style="text-align: center;">LOGIN</h1>
    </div>
    <div class="row">
        <p class="col-12" style="text-align: center;">Don't have an account yet?<br><a class="action" href="/cadastro">Register
            now!</a></p>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <label for="usernameInput" style="text-align: left;">Usuario:</label>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <input type="text" id="usernameInput" name="username" placeholder="username"/>
            </div>
        </div>


        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <label for="passwordInput" style="text-align: left;">Senha:</label>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <input type="password" id="passwordInput" name="password" placeholder="**********"/>
            </div>
        </div>
        <div class="row">
            <div class="col-10" style="text-align: right;">
                <a class="action" href="#">Esqueceu sua senha?</a>
            </div>
        </div>
        <br>
        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <input type="submit" class="entrarBtn" value="ENTRAR"/>
            </div>
        </div>
    </form>

    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <div class="line"></div>
        </div>

        <div class="col-2">
            <div class="tag">OR</div>
        </div>

        <div class="col-4">
            <div class="line"></div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <a class="entrarBtn" href="https://www.google.com">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-2" style="text-align: right;">
                        <img style="height:35px" src="{% static 'images/googleBlack.png' %}"/>
                    </div>
                    <div class="col-8" style="text-align: left;">
                        <h3 style="font-weight: 800; font-size: 30px;">Sign in with Google</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>


{% endblock %}