{% load static %}
<link href="{% static 'css/tasks.css' %}" rel="stylesheet">

<div class="taskCard" style="width: 30vw; margin-left: 35vw;">
    <div class="container-fluid">
        <form class="col" method="POST">
            {% csrf_token %}
            <!-- Task Title -->
            <div class="row">
                <div class="form-group col" style="margin-left: 2%; padding-top: 2%;">
                    <label class="taskTitle" for="titulo">Titulo:</label><br>
                    <input class="form-control" type="text" placeholder="Titulo" name="titulo" aria-describedby="tituloHelp">
                </div>
            </div>
            <!-- Task Body -->
            <div class="row">
                <div class="form-group col" style="margin-left: 2%; padding-top: 2%; padding-bottom: 2%;">
                    <label class="taskTitle" for="corpo">Descricao:</label><br>
                    <input class="form-control" type="text" placeholder="Uma breve Descricao da tarefa" style="width: 96%; min-height: 10%;" name="corpo" aria-describedby="corpoHelp">
                </div>
            </div>

            <!-- Submit -->
            <div class="row">
                <div class="col-md-6" style="margin-left: 2%; padding-top: 2%; padding-bottom: 2%;">
                    <button type="submit" class="pillBtn-light">Criar Tarefa</button>
                </div>
            </div>
        </form>
    </div>
</div>