{% load static %}
<link href="{% static 'css/tasks.css' %}" rel="stylesheet">


{% for task in UserTasks %}
    <div class="d-flex align-content-start">
        <div class="taskCard">
            <div class="row">
                <div class="col-md-12" style="margin-left: 15px; margin-top: 15px;">
                    <h1 class="taskTitle">{{ task.title }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h1 class="taskBody">{{ task.body }}</h1>
                </div>
            </div>

            <div class="row">
                {% if task.start_time is None %}
                    <form class="col-md-5" action="{% url 'startTask' task.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="timeBtn">Iniciar Tarefa<img src="{% static 'images/Clock.png' %}" style="height: 25px; margin-left: 25px; margin-top: -5px;"/></button>
                    </form>
                {% else %}
                    <div class="col-md-5">
                        <button class="timeBtn" style="transform: none">{{task.start_time|date:'M d, H:i'}}<img src="{% static 'images/Clock.png' %}" style="height: 25px; margin-left: 25px; margin-top: -5px;"/></button>
                    </div>
                {% endif %}

                <form class="col-md-1" action="{% url 'removeTask' task.id %}" method="post" style="margin-left: -20px; margin-top: 25px;">
                    {% csrf_token %}
                    <button type="submit" class="elipseBtn" style="padding: 5px 5px 5px 5px;"><img src="{% static 'images/TrashCan.png' %}" style="height: 25px; margin-top: -3px;"/></button>
                </form>
                    
                {% if task.start_time is not None %}
                    <form class="col-md-6 d-flex justify-content-end" action="{% url 'finishTask' task.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="timeBtn">Finaliza Tarefa<img style="margin-left: 25px; margin-top: -5px; height: 25px;" src="{% static 'images/FinishArrow.png' %}"/></button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
