{% load static %}
<link href="{% static 'css/tasks.css' %}" rel="stylesheet">


{% for task in UserTasks %}
    <div class="d-flex align-content-start">
        <div class="taskCard">
            <div class="row">
                <div class="col-md-12" style="margin-left: 15px; margin-top: 15px;">
                    <h1 class="taskTitle">{{ task.title }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h1 class="taskBody">{{ task.body }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <button class="timeBtn">Iniciar Tarefa<img src="{% static 'images/Clock.png' %}" style="height: 25px; margin-left: 25px; margin-top: -5px;"/></button>
                    <button class="elipseBtn" style="margin-top: 25px; margin-left: 20px; padding: 7px 7px 7px 7px;"><img src="{% static 'images/TrashCan.png' %}" style="height: 25px; margin-top: -3px;"/></button>
                </div>
                

                <div class="col-md-5 d-flex justify-content-end">
                    <button class="timeBtn" style="margin-right: 20px;">Finaliza Tarefa<img style="margin-left: 25px; margin-top: -5px; height: 25px;" src="{% static 'images/FinishArrow.png' %}"/></button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
