@font-face{
    font-family: 'Rozha-One';
    src:url("fonts/RozhaOne-Regular.ttf");
}

@font-face{
    font-family: 'Rufina-Bold';
    src:url("fonts/Rufina-Bold.ttf");
}

@font-face{
    font-family: 'Rufina';
    src:url("fonts/Rufina-Regular.ttf");
}


.container {
    max-width: 1500px !important;
}

.pillBtn{
    padding: 12px 20px 12px 20px;
    background-color: #40372F;
    color: #F2DCC2;
    border-radius: 100px;
    border:none;
    text-align: center;
    display: inline-block;
    text-overflow: ellipsis;
    font-family: 'Rufina';

    font-weight: 800;
    font-size: 18px;
    width: 200px;
}

.pillBtn:hover{
    background-color: #8C7B6C;
    color: #F2DCC2;
    text-decoration: none;
}

.pillBtn:focus{
    outline: none;
}

body{
    overflow: hidden;
    background-color: #40372F;
}

.header-main-page{
    background-color: #F2DCC2;
}

.title {
    font-family: 'Rufina';
    font-size: 120px;
    color: black;
}

.black-card {
    padding: 130px;
    background-color: #0D0D0D;
    color: #BFA893;
    font-family: 'Rufina';
    font-size: 24px;
    font-weight: 800;
}

.slogan {
    padding: 30px;
}

.description-text{
    color: #BFA893;
    font-family: 'Rufina';
    font-size: 18px;
    font-weight: 800;
}

.bg-image {
    background: url("../images/leatherBackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #40372f;
}

form{
    margin-left: 7%;
    margin-top: 10%;
}

form label{
    font-size: 20px;
}

form input[type='email']{
    width: 90%;
    height: 30px;
    margin-bottom: 10%;

    color: #C2C2C2;
    background-color: #40372F;

    border:none;
    border-radius: 3px;

    font-size: larger;
}

.entrarBtn{
    padding: 13px 0px 13px 0px;
    background-color: #8C7B6C;
    color: #0d0d0d;

    border-radius: 50px;
    border:none;

    text-align: center;
    display: inline-block;
    text-overflow: ellipsis;
    font-family: 'Rufina';

    font-weight: 800;
    font-size: 22px;
    width: 90%;

    margin-bottom: 8%;

    text-decoration: none;
}

.entrarBtn:hover{
    background-color: #BFA893;
    color: #0d0d0d;
    text-decoration: none;
}


.line{
    height: 2px;
    width: 100%;

    margin-bottom: 20%;

    background-color: #BFA893;
}

.tag{
    text-align: center;


    margin-top: -15px;

    font-size: 25px;

    color: #BFA893;
    background-color: #F2DCC2;
}

.btnLogo{
    height: 25px;
}
